@import '../../../colors.scss';

.CardPlayButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    user-select: none;

    &:hover {
        background-color: rgba($skyBlue, 0.04);
    }
}