@use '../../../svg_filters.scss' as filters;

.mainBlock {
    cursor: pointer;

    &__img {
        width: 100%;
        height: auto;
        @include filters.lightSkyBlue;
        pointer-events: none;

        &:hover {
            opacity: 0.8;
        }
    }
}