@use '../../../svg_filters' as filters;

.mainBlock {
    width: 100%;
    height: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        display: flex;
    }
}

.link {
    width: inherit;
    height: inherit;
    @include filters.gray;

    &_active {
        @include filters.skyBlue;
    }
}