@use '../../../svg_filters.scss' as filters;

.mainBlock {
    display: grid;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: white;

    &__arrowBlock {
        width: auto;
        height: 100%;
    }

    &__arrowContentBlock {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    &__searchBlock {
        width: 60px;
        height: 100%;
    }

    &__searchContentBlock {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
            content: ' ';
            margin-right: 50px;
            width: 1px;
            height: 35px;
            position: absolute;
            background-color: gainsboro;
        }
    }

    &__arrow {
        width: 20px;
        height: 20px;
        transform: rotate(0deg);

        &_active {
            transform: rotate(180deg);
        }
    }

    &__search {
        width: 22px;
        height: 22px;
        @include filters.gray;
    }

    &__text {
        margin-left: 5px;
        font-family: 'Roboto Regular', sans-serif;
        font-size: 18px;
    }
}