@import '../colors.scss';

.mainBlock {
    width: 100%;
    height: 100vh;
    background-color: $whiteDark;

    &__learnInfo {
        display: grid;
        grid-template-columns: 1fr 15px 1fr 15px 1fr;
    }
}

.learnInfo {
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: white;

    &__count {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    &__text {}

    &__icon {}

    &_toLearn {
        color: $green;
    }

    &_known {
        color: $skyBlue;
    }

    &_learned {
        color: $yellow;
    }
}