@import '../fonts.scss';

$content-max-width: 500px;
$content-padding: 10px 20px 20px;

.Start {
    display: flex;
    justify-content: center;

    &__content {
        max-width: $content-max-width;
        width: 100%;
        height: 100vh;
        padding: $content-padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__centerBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        pointer-events: none;
    }

    &__textInfo {
        font-family: 'Roboto Regular';
        font-size: 16px;
        position: relative;
    }

    &__contentImage {
        max-width: 250px;
    }

    &__bottomBlock {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
}