@import '../fonts.scss';

$content-max-width: 400px;
$bottom-padding: 40px;

.Start {
    display: flex;
    justify-content: center;

    &__content {
        max-width: 400px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__centerBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        pointer-events: none;
    }

    &__textInfo {
        font-family: 'Roboto Regular';
        font-size: 16px;
        position: relative;
    }

    &__contentImage {
        max-width: 250px;
    }

    &__bottomBlock {
        padding: $bottom-padding;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
}