@import '../colors.scss';

.content {
    width: inherit;
    height: inherit;
    position: relative;
    padding: 50px 15px;
}

.contentVertical {
    width: inherit;
    height: inherit;
    position: relative;
    padding: 50px 0;
}