@import './common_styles.scss';

$content-margin: 25px;

.mainBlock {
    @include block;

    span {
        font-weight: bold;
    }

    &__filterIcon {
        margin-top: 2px;
        margin-left: 3px;
        width: 18px;
        height: 18px;
    }

    &__title {
        margin-top: $content-margin;
        @include title;

        &:first-child {
            margin: 0;
        }
    }

    &__text {
        margin-top: $content-margin;
        @include text;
    }

    &__link {
        margin-top: $content-margin;
        margin-bottom: 10px;
        @include link;
    }

    &__button {
        margin-top: $content-margin;
    }
}