@import './common_styles.scss';

$content-margin: 25px;

.mainBlock {
    @include block;

    &__cardsIcon {
        margin-top: $content-margin;
        @include image;
    }

    &__title {
        margin-top: $content-margin;
        @include title;

        &:first-child {
            margin: 0;
        }
    }

    &__text {
        margin-top: $content-margin;
        @include text;
    }

    &__link {
        margin-top: $content-margin;
        margin-bottom: 10px;
        @include link;
    }

    &__button {
        margin-top: $content-margin;
    }
}