.LanguageDropBox {
    position: relative;

    &__content {}

    &__button {
        display: flex;
        align-items: center;
        position: relative;
        background-color: transparent;
    }

    &__foreignFlag {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 20;
    }

    &__nativeFlag {
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 19;
    }

    &__flagsBlock {
        width: 32px;
        height: 22px;
        position: relative;
    }

    &__label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    &__arrow {
        position: absolute;
        transform: rotate(180deg);
        top: -3px;
        right: -20px;
    }

    &__arrow_active {
        transform: rotate(0deg);
        top: 0px;
    }

    &__menu {}

    .Menu {
        &__item {}
    }
}