.CardQueue {
    width: 90%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    @media (max-width: 576px) {
        &__content {
            gap: 5px;
        }
    }
}