@mixin text($size: 18px, $color: black, $weight: 400) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

$font-size: 20px;
$img-size: 60px;

.mainBlock {
    width: 100%;
    background-color: white;

    &__contentBlock {
        width: inherit;
        height: inherit;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }

    &__imgBlock {
        padding-left: 10px;
        position: relative;
        width: 100%;
        max-height: $img-size;
    }

    &__img {
        width: $img-size;
        height: auto;
    }

    &__infoBlock {
        width: 100%;
        height: auto;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
    }

    &__play {
        display: flex;
        position: absolute;
        left: -18px;
        top: 3px;
    }

    &__name {
        display: flex;
        position: relative;
        @include text($font-size, black, bold);
    }

    &__translate {
        display: flex;
        position: relative;
        @include text($font-size, black, 400);
    }

    &__example {
        display: flex;
        position: relative;
        @include text($font-size, gray, 400);

        &_hidden {
            display: none;
        }
    }

    &__controlBlock {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__battery {
        position: absolute;
        z-index: 10;
        bottom: -10px;
        left: 0;
    }
}