.HintLabel {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    align-items: center;
    pointer-events: none;
    transform: scale(-1, 1);

    &__conditionText {
        margin-top: 5px;
        font-size: 16px;
        font-family: 'Arial';
    }

    &__hintText {
        margin-top: 5px;
        font-size: 16px;
        font-family: 'Arial';
        font-weight: 600;
    }

    &_disappear {
        animation: dissappear 0.2s ease-out forwards;
    }

    &_hidden {
        visibility: hidden;
    }

    &_active {
        opacity: 0.7;
    }

    @keyframes dissappear {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}