.WordExample {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;

    &__span {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: tomato;
    }

    @media (max-width: 576px) {
        font-size: 14px;

        &__span {
            font-size: 14px;
        }
    }
}