@import '../../colors.scss';

.mainBlock {
    width: inherit;
    display: inline-flex;

    &__content {
        display: flex;
        gap: 12px;
        align-items: center;
        padding: 0 5px;
    }

    &__dataBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__dateBlock {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__date {
        font-size: 40px;
        font-weight: medium;
    }

    &__infoBlock {
        min-width: 170px;
        max-width: 200px;
        display: flex;
        justify-content: start;
    }

    &__divider {
        height: 90%;
        width: 2px;
        background-color: gainsboro;
    }

    .info {
        border: 2px solid gainsboro;
        border-radius: 15px;

        &__content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 20px 20px;

            @media (max-width:768px) {
                padding: 10px;
            }
        }

        &__col {
            display: flex;
            width: inherit;
            flex-direction: column;
            font-size: 24px;
            align-items: end;

            @media (max-width:768px) {
                font-size: 20px;
            }

            &:last-child {
                align-items: center;
            }
        }

        &__label {
            &:first-child {
                color: $green;
            }

            &:last-child {
                color: gray;
                margin-top: 5px;
            }

            &_checked {}
        }

        &__count {
            &:last-child {
                margin-top: 5px;
            }
        }
    }

    @media (max-height: 620px) {
        &__dataBlock {
            flex-direction: row;
            gap: 10px;
            padding: 10px 0;
        }

        &__date {
            font-size: 20px;
        }

        &__infoBlock {
            max-width: 150px;
            min-width: 100px;
        }

        .info {
            &__content {
                padding: 5px;
            }   

            &__col {
                font-size: 16px;
            }
        }
    }

    @media (max-width:768px) {
        &__date {
            font-size: 30px;
        }
    }
}