.mainBlock {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    overflow: auto;

    &__content {
        display: grid;
        height: auto;
        grid-template-rows: 1fr auto;

        @media (min-width:1280px) {
            padding: 0 100px;
        }
    }

    &__listBlock {
        display: inline-flex;
        overflow-x: scroll;
    }
}