.mainBlock {
    width: inherit;
    height: inherit;


    &__content {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr auto;
    }

    &__listBlock {
        display: inline-flex;
        overflow-x: scroll;
    }

    &__buttonBlock {
        width: 100%;
        padding: 20px 15%;
    }
}